*{
  box-sizing:border-box;
}

body{
  margin:0;
  font-family:system-ui,-apple-system,Arial;
  background:#abbdce;
}

.container{
  padding:16px;
  max-width:1100px;
  margin:auto;
}

.title{
  font-size:22px;
  font-weight:600;
  margin-bottom:16px;
}

.content{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.card{
  background:white;
  padding:16px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

input, select{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border:1px solid #51576f;
  border-radius:6px;
  font-size:16px;
  background-color: #dde8f5;
}

button{
  width:100%;
  padding:12px;
  margin-top:6px;
  border:none;
  border-radius:8px;
  font-size:16px;
  cursor:pointer;
  color: black;
  background-color: #dde8f5;
}

button.primary{
  background:#000000;
  color: #7f5539;
}

button.secondary{
  background:#7f5539;
}

button.danger{
  background:#ff4d4f;
  color:white;
}

.filters{
  display:flex;
  flex-wrap:wrap;
  gap:8px;
  margin-bottom:12px;
}

.filters button{
  flex:1;
  min-width:90px;
  background:#cadae9;
  font-weight: 600;
  transition: all 0.5s ease;
}

.filters button:active,
.filters button:hover {
  color: white;
  background: #09294d;
}

.expense-card{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px;
  border-bottom:1px solid #eee;
}

.expense-description{
  font-weight:500;
}

.expense-category{
  font-size:13px;
  color:#777;
}

.expense-value{
  font-weight:600;
}

.expense-right{
  display:flex;
  align-items:center;
  gap:8px;
}

button.small{
  width:auto;
  padding:6px 10px;
}

.total{
  margin-top:16px;
  font-size:18px;
  font-weight:600;
  text-align:right;
}

@media (min-width:768px){

.content{
  display:grid;
  grid-template-columns:320px 1fr;
  gap:24px;
}

button{
  width:auto;
}

}